<section class="container mt-5">
   <div class="row g-4 mb-5">
      @for (user of users; track user?.id){
      <div class="col-md-4 " data-aos="fade-up">
         <p-card [routerLink]="['/user-details',user?.id]" routerLinkActive="router-link-active"
            [header]="user?.first_name + ' '+ user?.last_name" [subheader]="'email: ' +  user.email">
            <ng-template pTemplate="header">
               <img alt="CardImg" [src]="user.avatar" style="object-fit: cover; height: 300px;" />
            </ng-template>
         </p-card>
      </div>
      }

   </div>

   <div>
      <p-paginator (onPageChange)="onPageChange($event)" [first]="1" [rows]="perPage" [totalRecords]="totalRecords" />
   </div>
</section>